NODE_ENV=

# SMTP configuration for nodemailer
SMTP_FROM_NAME=
SMTP_PORT=
SMTP_FROM_EMAIL="no-reply@domain"
SMTP_PASS = 
SMTP_USER = 


CLIENT_URL=


# JWT SECRETS
JWT_ACCESS_TOKEN_SECRET =
JWT_ACCESS_TOKEN_EXPIRES_IN = 

JWT_REFRESH_TOKEN_SECRET =
JWT_REFRESH_TOKEN_EXPIRES_IN = 